<div class="row">
    <div class="col-md-7">
        <h4>Pedido</h4>
    </div>
    <div class="col-md-5 text-end">
        {{pedido.total | currency:'BRL'}}
    </div>
</div>
<hr>

<div class="row" *ngFor="let item of pedido.pedidoItem">

    <div class="col-md-1"> {{item.quantidade }} </div>
    <div class="col-md-7"> {{item.produto.nome}}</div>
    <div class="col-md-4 text-end">R$ {{item.produto.preco}}</div>


</div>
<hr>
<div class="row">
    <div class="col-md-1-end text-end" >
        <button (click)="adicionar()" type="button" class="btn btn-primary">Salvar</button>
    </div>    
</div>
